/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  background: #FFF;
  user-select: none;
}

main {

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
  }
}

/* HEADER */

header {
  display: inline-block;
  width: 100%;
  background: #ccc;

  nav {
    float: right;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}


#logo-animate-1 {
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
	text-align: center;
	
	h3 {
		padding: 2rem 0;
	  svg {
	    width: 20em;
	  }
	}
}

/* EXAMPLE SECTION */

section.example {
  width: 100%;

  .cards {
    display: inline-block;
    margin-bottom: -4px;
  }

  article {
    float: left;
  }
}

/* FOOTER */

footer {
  display: block;
  width: 100%;
}
